[Desktop Entry]
Name=KMail Import Wizard
Exec=importwizard
Type=Application
Icon=kontact-import-wizard
X-DocPath=importwizard/index.html
Comment=Launch the import wizard to migrate data from mailer as thunderbird/evolution etc.
Terminal=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.importwizard
